#body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 40px #e5bdd0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #d8dbe8;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

.login-text {
  color: #cc2a76;
}
